body{
  color: white;
  background-color: black;
  height: 1200px;
}

h1 {
  position: fixed;
}

ul {
  padding-top: 35px;
  border-block: 3px dashed blue;
  text-align: center;
  list-style-type: none;
}

li {
  padding: 10px;
}

.container {
  
}