body {
  color: white;
  background-color: black;
  height: 1200px;
}

header {
  padding-top: 35px;
  position: fixed;
  border-block: 3px dashed blue;

}

ul {
  text-align: center;
  list-style-type: none;
}

li {
  padding: 10px;
}

.container {
  padding-top: 200px;
  text-align: center;
}